@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    
  }
  
  a {
    color: #ffffff;
  }
  
  /* header */
  
  .header {
    background-color: #1818189c;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
      text-align: center;
    font-size: 1em;
    font-weight: 500;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    background: linear-gradient(to right, rgb(255, 255, 255) 50%, #4f5d77 50%, #3f547a);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-position: -100%;
  }

  .logoPIC{
    height: 2em;
  }

  .icon_nav{
    height: 1em;
    }

  .header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 6px;
  }
  
  .header .menu-icon .navicon:after {
    top: -6px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 440px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }



   


  .part1 {grid-area: part1;
          font-weight: bold;
          text-align: center;
          padding-top: 18px;}
  .part2 {grid-area: part2;
          padding-top: 6px;}
  .part3 {grid-area: part3;
          padding-top: 6px;}
  .part4 {grid-area: part4;
          padding-top: 6px;}
  .part5 {grid-area: part5;
          padding-top: 6px;}
  .part6 {grid-area: part6;
         padding-top: 6px;}
  .part7 {grid-area: part7;
          padding-top: 6px;}

  footer{
    color: #232323;
    font-size: small;
    background-color:#e8e2e4;
    position: fixed;
    top: 900px;
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-areas:
    'part1 part2 part3 part4'
    'part1 part5 part6 part7';
    }
    footer div:hover{
        cursor: pointer;
    }
  
    body{
      font-family: 'Titillium Web', sans-serif;
      position: center;
      background-image: url(signin.png); 
      height: 900px;
      background-attachment: fixed;
      background-position: 50% 45%;
      background-size: cover;
      background-repeat: no-repeat;  
  }
  

  
  .regform{
      width: 800px;
      margin: auto;
      color: #ffffff;
      text-align: center;
      font-size: 25px;
      
  
  }
  
  .main{
      width: 800px;
      margin: auto;
        
  }
  
  form{
      padding: 10px;
      
      
  }
  
  #name{
      width: 100%;
      height: 60px;
  }
  
  .name{
      margin-left: 25px;
      margin-top: 30px;
      width: 125px;
      color: #232323;
      font-size: 18px;
      font-weight: 700;
  }
  

  
  
  .regform{
      position: relative;
      top: 150px;
      left: -215px;
      width: 800px;
      margin: auto;
      color: #ffffff;
      text-align: center;
      font-size: 25px;
      
  }
  
  
  
  .firstname{
      position: relative;
      left: 50px;
      top: 130px;
      line-height: 25px;
      padding: 0 22px;
      font-size: 16px;
      width: 200px;
  }
  
  .firstlabel{
      position: relative;
      color: #232323;
      font-size: 14px;
      left: 230px;
      top: 100px;
  }
  
  .lastname{
      position: relative;
      left: -15px;
      top: 150px;
      line-height: 25px;
      padding: 0 22px;
      font-size: 16px;
      width: 200px;
  }
  
  .lastlabel{
      position: relative;
      color: #232323;
      font-size: 14px;
      left: -85px;
      top: 150px;
  }
  
  .namelabel{
      position: relative;
      color: #232323;
      font-size: 14px;
      left: -85px;
      top: 150px;
  }
  
  .email{
      position: relative;
      left: 50px;
      top: 170px;
      line-height: 25px;
      padding: 0 22px;
      font-size: 16px;
      width: 200px;
  }
  
  .emaillabel{
      position: relative;
      color: #232323;
      font-size: 14px;
      left: 5px;
      top: 170px;
  }
  
  
  .before{
      position: relative;
      left: -236px;
      top: 220px;
      line-height: 25px;
      padding: 0 22px;
      font-size: 12px;
      width: 50px;
  }
  
  .beforelabel{
      position: relative;
      color: #232323;
      font-size: 14px;
      left: -280px;
      top: 220px;
  }
  
  .number{
      position: relative;
      left: -260px;
      top: 220px;
      line-height: 25px;
      padding: 0 22px;
      font-size: 12px;
      width: 85px;
  }
  
  .numberlabel{
      position: relative;
      color: #232323;
      font-size: 14px;
      left: -300px;
      top: 220px;
  }
  
  .username{
      position: relative;
      left: 50px;
      top: 240px;
      line-height: 25px;
      padding: 0 22px;
      font-size: 16px;
      width: 200px;
  }
  
  .usernamelabel{
      position: relative;
      color: #232323;
      font-size: 14px;
      left: -25px;
      top: 240px;
  }
  
  .password{
      position: relative;
      left: -264px;
      top: 290px;
      line-height: 25px;
      padding: 0 22px;
      font-size: 16px;
      width: 200px;
  }
  
  .passwordlabel{
      position: relative;
      color: #232323;
      font-size: 14px;
      left: -340px;
      top: 290px;
  }
  
  button{
      position: relative;
      top: 310px;
      left: 210px;
      background-color: #3f547a;
      display: block;
      text-align: center;
      border-radius: 20px;
      border: 1px solid#232323;
      padding: 5px 20px;
      outline: none;
      color: #ffffff;
      cursor: pointer;
      transition: 0.25px;
  }
  
  button:hover{
      background-color: #232323;
  }
  
  .signin{
      position: relative;
      top: 430px;
      left: 140px;
      font-size: 25px;
      color: #ffffff;
  }
  
  .usernamesi{
      position: relative;
      left: 50px;
      top: 450px;
      line-height: 25px;
      padding: 0 22px;
      font-size: 16px;
      width: 200px;
  }
  
  .usenramesilabel{
      position: relative;
      color: #232323;
      font-size: 14px;
      left: -25px;
      top: 450px;
  }
  
  .passwordsi{
      position: relative;
      left: -264px;
      top: 500px;
      line-height: 25px;
      padding: 0 22px;
      font-size: 16px;
      width: 200px;
  }
  
  .passwordsilabel{
      position: relative;
      color: #232323;
      font-size: 14px;
      left: -340px;
      top: 500px;
  }
  
  .signinbut{
      position: relative;
      top: 210px;
      left: 20px;
  }
  
  button{
      position: relative;
      top: 310px;
      left: 210px;
      background-color: #3f547a;
      display: block;
      text-align: center;
      border-radius: 20px;
      border: 1px solid#232323;
      padding: 15px 45px;
      outline: none;
      color: #ffffff;
      cursor: pointer;
      transition: 0.25px;
      
  }
  
  .buttonlabel{
      position: relative;
      top: 285px;
      left: 235px;
      color: #ffffff;
      font-size: 14px;
      
  }
  
  .buttonsi{
      position: relative;
      top: 520px;
      left: 210px;
      background-color: #3f547a;
      display: block;
      text-align: center;
      border-radius: 20px;
      border: 1px solid#232323;
      padding: 15px 45px;
      outline: none;
      color: #ffffff;
      cursor: pointer;
      transition: 0.25px;
  }
  
  .buttonlabelsi{
      position: relative;
      top: 495px;
      left: 245px;
      color: #ffffff;
      font-size: 14px;
  }
  
  
  
  footer{
      margin-bottom: -17rem;
  }


    
  

    /*PHONE VERSION ABOVE*/

  @media screen and (min-width: 769px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
}



    @media screen and (min-width: 767px){ 
    .main{
        width: 800px;
        margin: auto;
          
    }
    
    form{
        padding: 10px;
        
        
    }
    
    #name{
        width: 100%;
        height: 60px;
    }
    
    .name{
        margin-left: 25px;
        margin-top: 30px;
        width: 125px;
        color: #232323;
        font-size: 18px;
        font-weight: 700;
    }
    
    .regform{
        position: relative;
        top: 150px;
        left: -10px;
        width: 800px;
        margin: auto;
        color: #ffffff;
        text-align: center;
        font-size: 40px;
        
    }
    
    .firstname{
        position: relative;
        left: 150px;
        top: 140px;
        line-height: 40px;
        padding: 0 22px;
        font-size: 16px;
        width: 400px;
    }
    
    .firstlabel{
        position: relative;
        color: #232323;
        font-size: 20px;
        left: 490px;
        top: 98px;
    }
    
    .lastname{
        position: relative;
        left: 60px;
        top: 160px;
        line-height: 40px;
        padding: 0 22px;
        font-size: 16px;
        width: 400px;
    }
        
    .lastlabel{
        position: relative;
        color: #232323;
        font-size: 20px;
        left: -50px;
        top: 162px;
    }

    .namelabel{
        position: relative;
        color: #232323;
        font-size: 20px;
        left: -50px;
        top: 162px;
    }
    
    .email{
        position: relative;
        left: 150px;
        top: 210px;
        line-height: 40px;
        padding: 0 22px;
        font-size: 16px;
        width: 400px;
    }
    
    .emaillabel{
        position: relative;
        color: #232323;
        font-size: 20px;
        left: 80px;
        top: 210px;
    }
    
    
    .before{
        position: relative;
        left: -350px;
        top: 275px;
        line-height: 40px;
        padding: 0 22px;
        font-size: 16px;
        width: 110px;
    }
    
    .beforelabel{
        position: relative;
        color: #232323;
        font-size: 20px;
        left: -420px;
        top: 275px;
    }
    
    .number{
        position: relative;
        left: 325px;
        top: 230px;
        line-height: 40px;
        padding: 0 22px;
        font-size: 16px;
        width: 225px;
    }
    
    .numberlabel{
        position: relative;
        color: #232323;
        font-size: 20px;
        left: 260px;
        top: 230px;
    }
    
    .username{
        position: relative;
        left: -165px;
        top: 300px;
        line-height: 40px;
        padding: 0 22px;
        font-size: 16px;
        width: 400px;
    }
    
    .usernamelabel{
        position: relative;
        color: #232323;
        font-size: 20px;
        left: 490px;
        top: 255px;
    }
    
    .password{
        position: relative;
        left: 65px;
        top: 320px;
        line-height: 40px;
        padding: 0 22px;
        font-size: 16px;
        width: 400px;
    }
    
    .passwordlabel{
        position: relative;
        color: #232323;
        font-size: 20px;
        left: -40px;
        top: 320px;
    }
    
    button{
        position: relative;
        top: 350px;
        left: 460px;
        background-color: #3f547a;
        border-radius: 20px;
        border: 1px solid#232323;
        padding: 20px 70px;
    }

    .buttonlabel{
        position: relative;
        top: 320px;
        left: 498px;
        font-size: 20px;
        color: #ffffff;

    }
    
    button:hover{
        background-color: #232323;
    }
    
    .signin{
        position: relative;
        top: 435px;
        left: 320px;
        font-size: 40px;
    }
    
    .usernamesi{
        position: relative;
        left: 150px;
        top: 460px;
        line-height: 40px;
        padding: 0 22px;
        font-size: 16px;
        width: 400px;
    }
    
    .usenramesilabel{
        position: relative;
        color: #232323;
        font-size: 20px;
        left: 40px;
        top: 460px;
    }
    
    .passwordsi{
        position: relative;
        left: 150px;
        top: 480px;
        line-height: 40px;
        padding: 0 22px;
        font-size: 16px;
        width: 400px;
    }
    
    .passwordsilabel{
        position: relative;
        color: #232323;
        font-size: 20px;
        left: 40px;
        top: 480px;
    }
    
    .buttonsi{
        position: relative;
        top: 510px;
        left: 460px;
        background-color: #3f547a;
        border-radius: 20px;
        border: 1px solid#232323;
        padding: 20px 70px;
    }


    .buttonlabelsi{
        position: relative;
        top: 480px;
        left: 515px;
        font-size: 20px;
        color: #ffffff;
    }
    
    footer{
        margin-bottom: -6rem;
    }
}

   

  @media screen and (min-width: 1080px){
    .header li a{
        font-size: 2em;
    }

    .part1{
        font-size: 1rem;
    }

    .logoPIC{
        height: 3em;
        transition: transform .2s;
    }

    .icon_nav{
        height: 1em;
        transition: transform .2s;
    }

    .icon_nav:hover{
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.3);
        transform: scale(1.1);  
    }

    .logoPIC:hover{
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.4);
        transform: scale(1.1); 
    }

    *{
      margin: 0;
      padding: 0;
  }
  
  .main{
      width: 800px;
      margin: auto;
        
  }
  
  form{
      padding: 10px;
      
      
  }
  
  #name{
      width: 100%;
      height: 60px;
  }
  
  .name{
      margin-left: 25px;
      margin-top: 30px;
      width: 125px;
      color: #232323;
      font-size: 18px;
      font-weight: 700;
  }
  
  .regform{
      position: relative;
      top: 240px;
      left: -360px;
      width: 800px;
      margin: auto;
      color: #ffffff;
      text-align: center;
      font-size: 50px;
      
  }
  
  .firstname{
      position: relative;
      left: -250px;
      top: 240px;
      line-height: 60px;
      padding: 0 22px;
      font-size: 25px;
      width: 500px;
  }
  
  .firstlabel{
      position: relative;
      color: #232323;
      font-size: 30px;
      left: 140px;
      top: 177px;
  }
  
  .lastname{
      position: relative;
      left: -380px;
      top: 270px;
      line-height: 60px;
      padding: 0 22px;
      font-size: 25px;
      width: 500px;
  }
  
 .lastlabel{
      position: relative;
      color: #232323;
      font-size: 30px;
      top: 269px;
      left: -540px;
  }
 
  .namelabel{
      position: relative;
      color: #232323;
      font-size: 30px;
      top: 221px;
      left: 200px;
  }
  .email{
      position: relative;
      left: -250px;
      top: 370px;
      line-height: 60px;
      padding: 0 22px;
      font-size: 25px;
      width: 500px;
  }
  
  .emaillabel{
      position: relative;
      color: #232323;
      font-size: 30px;
      left: -350px;
      top: 370px;
  }
  
  
  .before{
      position: relative;
      left: -250px;
      top: 400px;
      line-height: 60px;
      padding: 0 22px;
      font-size: 25px;
      width: 150px;
  }
  
  .beforelabel{
      position: relative;
      color: #232323;
      font-size: 30px;
      left: -345px;
      top: 400px;
  }
  
  .number{
      position: relative;
      left: -295px;
      top: 400px;
      line-height: 60px;
      padding: 0 22px;
      font-size: 25px;
      width: 275px;
  }
  
  .numberlabel{
      position: relative;
      color: #232323;
      font-size: 30px;
      left: -390px;
      top: 400px;
  }
  
  .username{
      position: relative;
      left: -250px;
      top: 430px;
      line-height: 60px;
      padding: 0 22px;
      font-size: 25px;
      width: 500px;
  }
  
  .usernamelabel{
      position: relative;
      color: #232323;
      font-size: 30px;
      left: -410px;
      top: 430px;
  }
  
  .password{
      position: relative;
      left: -250px;
      top: 460px;
      line-height: 60px;
      padding: 0 22px;
      font-size: 25px;
      width: 500px;
  }
  
  .passwordlabel{
      position: relative;
      color: #232323;
      font-size: 30px;
      left: -410px;
      top: 460px;
  }
  
  button{
      position: relative;
      top: 500px;
      left: 140px;
      background-color: #3f547a;
      border-radius: 25px;
      border: 1px solid#232323;
      padding: 25px 80px;
  }

  .buttonlabel{
      position: relative;
      top: 460px;
      left: 180px;
      font-size: 25px;
      color: #ffffff;

  }
  
  button:hover{
      background-color: #232323;
  }
  
  .signin{
      position: relative;
      top: -240px;
      left: 720px;
      font-size: 50px;
  }
  
  .usernamesi{
      position: relative;
      left: 500px;
      top: -205px;
      line-height: 60px;
      padding: 0 22px;
      font-size: 25px;
      width: 500px;
  }
  
  .usenramesilabel{
      position: relative;
      color: #232323;
      font-size: 30px;
      left: 340px;
      top: -205px;
  }
  
  .passwordsi{
      position: relative;
      left: 500px;
      top: -175px;
      line-height: 60px;
      padding: 0 22px;
      font-size: 25px;
      width: 500px;
  }
  
  .passwordsilabel{
      position: relative;
      color: #232323;
      font-size: 30px;
      left: 340px;
      top: -175px;
  }
  
  .buttonsi{
      position: relative;
      top: -130px;
      left: 890px;
      background-color: #3f547a;
      border-radius: 25px;
      border: 1px solid#232323;
      padding: 25px 80px;
  }


  .buttonlabelsi{
      position: relative;
      top: -170px;
      left: 950px;
      font-size: 25px;
      color: #ffffff;
  }
  
  footer{
      margin-bottom: -6rem;
  }


  }
  
  /*DESKTOP VERSION*/