@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-color: #f4f4f4;
  }
  
  a {
    color: #ffffff;
  }
  
  /* header */
  
  .header {
    background-color: #1818189c;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    background: linear-gradient(to right, rgb(255, 255, 255) 50%, #4f5d77 50%, #3f547a);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-position: -100%;
  }

  .logoPIC{
    height: 2em;
  }

  .icon_nav{
    height: 1em;
    }

  .header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 6px;
  }
  
  .header .menu-icon .navicon:after {
    top: -6px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 440px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }


  body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url(images/test-ride.jpg);
    background-attachment: fixed;
    background-position: 50% 45%;
    background-size: cover;
    background-repeat: no-repeat;
}

.center {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    color: white;
    text-align: center;

}

.center h1 {
    margin: 0;
    font-size: 3rem;
    white-space: nowrap;
    font-weight: bold;
    letter-spacing: 7px;
    margin-bottom: 35px;

}

.center p {
    margin: 0;
    font-size: 1.5rem;
    opacity: 80%;
    letter-spacing: 1px;

}

.bottom_left {
    position: static;
    top: 20em;
    left: 2%;
}

.bottom_left h2 {
    opacity: 0;
}

.form {
    position: absolute;
    top: 60%;
    left: 10%;
    text-align: center;
}

.form h2 {
    margin: 0;
    font-size: 2.5rem;
    white-space: nowrap;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;

}

.email {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 80%;
}

.submit {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 15px 40px 15px 40px;
    border: 2px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;
    cursor: pointer;


}

.submit:hover {
    color: #ffffff;
    background: #93c94a;
    border-color: #93c94a;
    transition: all 0.4s ease 0s;
}
   


  .part1 {grid-area: part1;
          font-weight: bold;
          text-align: center;
          padding-top: 18px;}
  .part2 {grid-area: part2;
          padding-top: 6px;}
  .part3 {grid-area: part3;
          padding-top: 6px;}
  .part4 {grid-area: part4;
          padding-top: 6px;}
  .part5 {grid-area: part5;
          padding-top: 6px;}
  .part6 {grid-area: part6;
         padding-top: 6px;}
  .part7 {grid-area: part7;
          padding-top: 6px;}

  footer{
    color: #232323;
    font-size: small;
    background-color:#e8e2e4;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-areas:
    'part1 part2 part3 part4'
    'part1 part5 part6 part7';
    }
    footer div:hover{
        cursor: pointer;
    }
  

    @media screen and (min-width: 767px){
      .form {
        position: absolute;
        top: 48%;
        left: 30%;
        text-align: center;
    }
    }

  @media screen and (min-width: 769px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .center {
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
  }

  .center h1 {
      margin: 0;
      font-size: 5rem;
      white-space: nowrap;
      font-weight: bold;
      letter-spacing: 7px;
      margin-bottom: 10px;
  }

  .center p {
      font-size: 2.5rem;
  }

  .bottom_left {
      position: absolute;
      top: 62%;
      left: 5%;
  }

  .bottom_left h2 {
      margin: 0;
      font-size: 4rem;
      white-space: nowrap;
      font-weight: bold;
      color: white;
      line-height: 80px;
      letter-spacing: 5px;
      opacity: 100;
  }


  .form {
      position: absolute;
      top: 68%;
      left: 60%;
      text-align: center;
  }

  .form h2 {
      font-size: 2.5rem;
  }
  }

   

  @media screen and (min-width: 1080px){
    .header li a{
        font-size: 2em;
    }

    .part1{
        font-size: 1rem;
    }

    .logoPIC{
        height: 3em;
        transition: transform .2s;
    }

    .icon_nav{
        height: 1em;
        transition: transform .2s;
    }

    .icon_nav:hover{
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.3);
        transform: scale(1.1);  
    }

    .logoPIC:hover{
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.4);
        transform: scale(1.1); 
    }
    .form {
      position: absolute;
      top: 55%;
      left: 75%;
      text-align: center;
  }

  .form h2 {
      margin: 0;
      font-size: 4rem;
      white-space: nowrap;
      font-weight: bold;
      color: white;
      letter-spacing: 5px;
  }

  .email {
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 15px;
      margin-top: 15px;
      width: 90%;
  }

  .bottom_left {
      position: absolute;
      top: 50%;
      left: 3%;
  }

  .bottom_left h2 {
      line-height: 90px;
      font-size: 5rem;
  }

  }
  
 
