@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-color: #f4f4f4;
  }
  
  a {
    color: #ffffff;
  }
  
  /* header */
  
  .header {
    background-color: #1818189c;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    background: linear-gradient(to right, rgb(255, 255, 255) 50%, #4f5d77 50%, #3f547a);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-position: -100%;
  }

  .logoPIC{
    height: 2em;
  }

  .icon_nav{
    height: 1em;
    }

  .header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 6px;
  }
  
  .header .menu-icon .navicon:after {
    top: -6px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 440px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .main{
    background-image: url(images/homebackground.jpg);
    background-size: cover;
    height: 230px;
    width: 100%;
  }
  .main2{
    margin-top: 2.5px;
    background-image: url(images/closeupp.jpg);
    background-size: cover;
    height: 230px;
    width: 100%;
  }
  .main3{
    margin-top: 2.5px;
    background-image: url(images/comingsoon.jpg);
    background-size: cover;
    height: 230px;
    width: 100%;
  }

  .meet{
    color: white;
    position: relative;
    text-align: center;
    font-size: 2em;
    background: 50% 100% / 20% 20% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
animation: reveal 2000ms ease-in-out forwards 200ms,
   glow 7000ms linear infinite 3000ms;
font-weight: bold;
}

@keyframes reveal {
80%{
letter-spacing: 2px;
}
100% {
background-size: 300% 300%;
}
}
@keyframes glow {
40% {
text-shadow: 0 0 4px #fff;
}
}

  .y{
    color: white;
    position: relative;
    text-align: center;
    font-size: 2em;
  }

  .read{
    color: white;
    position: relative;
    text-align: center;
    font-size: 1em;
    text-decoration: underline;
  }
  .read:hover{
    color: rgba(255, 255, 255, 0.404);
    cursor: pointer;
  }

  .buy{
    color: white;
    font-weight: 700;
    position: relative;
    text-align: center;
    font-size: 2em;
  }

  .po{
    width: 20%;
    position: relative;
    left:70%;
    top: 35%
  }

  .pos{
    width: 50%;
    position: relative;

    left:25%;
    top: 35%
  }


   


  .part1 {grid-area: part1;
          font-weight: bold;
          text-align: center;
          padding-top: 18px;}
  .part2 {grid-area: part2;
          padding-top: 6px;}
  .part3 {grid-area: part3;
          padding-top: 6px;}
  .part4 {grid-area: part4;
          padding-top: 6px;}
  .part5 {grid-area: part5;
          padding-top: 6px;}
  .part6 {grid-area: part6;
         padding-top: 6px;}
  .part7 {grid-area: part7;
          padding-top: 6px;}

  footer{
    color: #232323;
    font-size: small;
    background-color:#e8e2e4;
    position: static;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-areas:
    'part1 part2 part3 part4'
    'part1 part5 part6 part7';
    }
    footer div:hover{
        cursor: pointer;
    }
  

    /*PHONE VERSION ABOVE*/

  @media screen and (min-width: 769px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }


    
  }

  @media screen and (min-width: 767px){
    .main{
      background-image: url(images/homebck.jpg);
      height: 500px;
      opacity: 0.95;
      transition: .3s ease-in-out;
    }
    .main:hover{
      opacity: 1;
    }
    .meet{
      background: 50% 100% / 20% 20% no-repeat
                  radial-gradient(ellipse at bottom, #fff, transparent, transparent);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      animation: reveal 2000ms ease-in-out forwards 200ms,
                 glow 7000ms linear infinite 3000ms;
      font-size: 4em;
      font-weight: bold;
    }

    @keyframes reveal {
      80%{
        letter-spacing: 2px;
      }
      100% {
        background-size: 300% 300%;
      }
    }
    @keyframes glow {
      40% {
        text-shadow: 0 0 4px #fff;
      }
    }


    .po{
      top: 30%
    }
    .main2{
      background-image: url(images/newcloseup.png);
      height: 500px;
      opacity: 0.95;
      transition: .3s ease-in-out;
    }
    .main2:hover{
      opacity: 1;
    }
    .buy{
      font-size: 6em;
    }
    .read{
      font-size: 2em;
    }

    .y{
      font-size: 4em;
    }

    .main3{
      background-image: url(images/newcoming.jpg);
      height: 500px;
      opacity: 0.95;
      transition: .3s ease-in-out;
    }
    .main3:hover{
      opacity: 1;
    }
    
  }

    /*TABLET VERSION*/

  @media screen and (min-width: 1080px){
    .header li a{
        font-size: 2em;
    }

    .part1{
        font-size: 1rem;
    }

    .logoPIC{
        height: 3em;
        transition: transform .2s;
    }

    .icon_nav{
        height: 1em;
        transition: transform .2s;
    }

    .icon_nav:hover{
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.3);
        transform: scale(1.1);  
    }

    .logoPIC:hover{
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.4);
        transform: scale(1.1); 
    }

    .buy{
      font-size: 8em;
    }

  }
  
  /*DESKTOP VERSION*/
